<div class="container-lpage m-5">
    <div class="container main d-flex">
      <div class="left p-2 m-5">
            <h1 class="main-heading mt-3" style="color: #FF2C90;">A comprehensive platform for reliable</h1>
            <h2 class="text-white ml12"><span>Job Opportunities and Internships</span></h2>
            <h5 class="text-white">Get Discovered. Get Hired.</h5>
            <div class="actions mt-5">
                <a href="/jobs" class="btn btn-lg lbtn" style="background-color: #FF2C90; color: white;"> I'm A Job Seeker </a>
                <button data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-lg lbtn mx-2" style="background-color: #FF2C90; color: white;" onclick="location.href='/register';">
                    I'm A Recruiter
                </button>
            </div>
      </div>
      <div class="right mt-3">
        <img src="https://files.codingninjas.in/438375-17407.webp" alt="banner">
        <!-- <img src="https://files.codingninjas.in/438375-17407.webp" alt="banner" /> -->
      </div>
    </div>
  </div>