<div class="modal fade show" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body">
          <form action="/login" method="post" class="p-2">
            
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Email</span>
                <input required="" name="email" type="email" aria-label="email" class="form-control" placeholder="enter your email">
              </div>
            </div>
            <div class="mb-3">
              <div class="input-group">
                <span class="input-group-text">Password</span>
                <input required="" name="password" type="password" aria-label="password" class="form-control" placeholder="enter your password">
              </div>
            </div>
            <button type="submit" class="btn btn-md mt-2 lbtn" style="background-color: #FF2C90; color: white;">Login</button>
          </form>
      </div>
    </div>
  </div>